azure-operator
!helm/azure-operator
TODO
vendor

.e2e-harness

/examples/local/*.yaml
!/examples/local/*.tmpl.yaml

integration/test/**/*-e2e
azure-operator-*.tgz
integration/test/**/logs/*.txt

scripts/*.tar.gz

telepresence.log
*.flowchart.generated.html

# binaries
/azure-operator-v*-*-linux
/azure-operator-v*-*-linux-*
/azure-operator-v*-*-darwin
/azure-operator-v*-*-darwin-*
