orbs:
  architect: giantswarm/architect@0.10.1

version: 2.1
workflows:
  build_and_e2eTest:
    jobs:
      # build operator
      - architect/go-build:
          name: go-build
          binary: azure-operator
          resource_class: large
          filters:
            tags:
              only: /^v.*/

      # build and push docker image to quay.
      - architect/push-to-docker:
          name: push-azure-operator-to-quay
          image: "quay.io/giantswarm/azure-operator"
          username_envar: "QUAY_USERNAME"
          password_envar: "QUAY_PASSWORD"
          requires:
            - go-build
          filters:
            # Trigger the job also on git tag.
            tags:
              only: /^v.*/

      # build and push helm chart to app catalog.
      - architect/push-to-app-catalog:
          name: push-azure-operator-to-control-plane-app-catalog
          app_catalog: "control-plane-catalog"
          app_catalog_test: "control-plane-test-catalog"
          chart: "azure-operator"
          # Make sure docker image is successfully built.
          requires:
            - push-azure-operator-to-quay
          filters:
            # Trigger the job also on git tag.
            tags:
              only: /^v.*/

      # deploy to installations.
      - architect/push-to-app-collection:
          name: push-azure-operator-to-azure-app-collection
          app_name: "azure-operator"
          app_collection_repo: "azure-app-collection"
          requires:
            - push-azure-operator-to-control-plane-app-catalog
          filters:
            # Do not trigger the job on commit.
            branches:
              ignore: /.*/
            # Trigger the job also on git tag.
            tags:
              only: /^v.*/

      # manual approval to run e2e tests.
      - hold:
          type: approval
          requires:
            - push-azure-operator-to-control-plane-app-catalog

#      - architect/integration-test:
#          name: cluster-state-test
#          resource_class: large
#          setup-script: "integration/config/setup.sh"
#          env-file: "integration/test/clusterstate/.env"
#          test-dir: "integration/test/clusterstate"
#          test-timeout: "90m"
#          requires:
#          - hold
#          - push-azure-operator-to-control-plane-app-catalog

      - architect/integration-test:
          name: scaling-test
          resource_class: large
          setup-script: "integration/config/setup.sh"
          env-file: "integration/test/scaling/.env"
          test-dir: "integration/test/scaling"
          test-timeout: "90m"
          requires:
          - hold

      - architect/integration-test:
          name: multiaz-test
          resource_class: large
          setup-script: "integration/config/setup.sh"
          env-file: "integration/test/multiaz/.env"
          test-dir: "integration/test/multiaz"
          test-timeout: "70m"
          requires:
          - hold

      - architect/integration-test:
          name: cluster-deletion-test
          resource_class: large
          setup-script: "integration/config/setup.sh"
          env-file: "integration/test/clusterdeletion/.env"
          test-dir: "integration/test/clusterdeletion"
          test-timeout: "70m"
          requires:
          - hold

      - architect/integration-test:
          name: update-test
          resource_class: large
          setup-script: "integration/config/setup.sh"
          env-file: "integration/test/update/.env"
          test-dir: "integration/test/update"
          test-timeout: "180m"
          requires:
          - hold

      - architect/integration-test:
          name: cp-tc-connectivity-test
          resource_class: large
          setup-script: "integration/config/setup.sh"
          env-file: "integration/test/cptcconnectivity/.env"
          test-dir: "integration/test/cptcconnectivity"
          test-timeout: "70m"
          requires:
          - hold
