  apiVersion: rbac.authorization.k8s.io/v1beta1
  kind: ClusterRole
  metadata:
    name: azure-operator
  rules:
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - "*"
  - apiGroups:
      - provider.giantswarm.io
    resources:
      - azureconfigs
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - get
      - create
      - delete
  - apiGroups:
      - ""
    resources:
      - endpoints
      - services
    verbs:
      - create
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - watch
  - apiGroups:
      - ""
    resources:
      - configmaps
    resourceNames:
      - aws-operator-configmap
    verbs:
      - get
  - nonResourceURLs:
      - "/"
      - "/healthz"
    verbs:
      - get
  ---
  apiVersion: rbac.authorization.k8s.io/v1beta1
  kind: ClusterRoleBinding
  metadata:
    name: azure-operator
  subjects:
    - kind: ServiceAccount
      name: azure-operator
  roleRef:
    kind: ClusterRole
    name: azure-operator
    apiGroup: rbac.authorization.k8s.io
  ---
  apiVersion: rbac.authorization.k8s.io/v1beta1
  kind: ClusterRole
  metadata:
    name: azure-operator-psp
  rules:
    - apiGroups:
        - extensions
      resources:
        - podsecuritypolicies
      verbs:
        - use
      resourceNames:
        - azure-operator-psp
  ---
  apiVersion: rbac.authorization.k8s.io/v1beta1
  kind: ClusterRoleBinding
  metadata:
    name: azure-operator-psp
  subjects:
    - kind: ServiceAccount
      name: azure-operator
      namespace: giantswarm
  roleRef:
    kind: ClusterRole
    name: azure-operator-psp
    apiGroup: rbac.authorization.k8s.io%